@layer theme, base, antd, components, utilities;
@import "@xyflow/react/dist/style.css";
@import "tailwindcss" important;

/* 字体声明 */
@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-inter: Inter;
  --color-hsbc-red: #e31e22;
  --color-hsbc-medium-red: #ba1110;
  --color-hsbc-dark-red: #730014;
}

.handle-style {
  width: 10px;
  height: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color: var(--color-sky-500);
  background-position: center;
  background-image: url("../src/assets/svg/plus.svg");
}

body {
  margin: 0;
}
